/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    font-size: 56px;
    margin: 20px
}

.hlavicka {
    background-image: url(images/island-hlavicka.jpg);
    background-position: center center;
	background-size: cover;

    color: white;
    text-align: center;
    font-size: 16px;
    padding: 30px;
}

.autor::before {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: white;
    margin: 25px auto;
}

.autor {
    font-style: italic;
    opacity: 0.8;
}

.obsah h2 {
    padding: 20px;
    position: relative;
}

.obsah p {
    padding: 10px 20px 10px 20px;
    margin: 0;
}

h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: steelblue;
    position: absolute;
    top: 100%;
    left: 0px;
}



/* MENU */

.menu {
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    padding: 20px;
}

.menu li {
    padding: 15px;
    border-bottom: 1px solid lightgrey;
}

.menu a {
    text-decoration: none;
    color: lightgrey;
}


/* OBSAH */

img {
    display: block;
    width: 100%;
}

.obrazek {
    margin: 20px 0;
}

.popisek {
    color: darkgrey;
    text-align: center;
    font-size: 12px;
}

.popisek a {
    color: darkgrey;
}



/* FOTOGALERIE */

.galerie {
    margin: 20px 0;
    padding: 20px 0;
}


/* PATICKA */

.paticka {
    padding: 20px;
    color: darkgrey;
    background: linear-gradient(lightgrey, white);
    font-size: 12px;
}

.paticka a {
    color: darkgrey;
}

@media (min-width: 500px) {
   .menu {
        display: flex;
   }
   
    .menu li {
        width: 100%;
        border: 0.5px solid lightgrey;
   }

    .obrazek{
        position: relative;
   }

   .obrazek .popisek {
        position: absolute;
        right: 0;
        bottom: 10px;
        color: white;
   }

   .obrazek .popisek a {
    color: white;
   }
    
    .galerie {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .galerie .foto {
        position: relative;
        flex: 0 1 50%;
        display: block;
        overflow: hidden;
    }

       .galerie .popisek {
        position: absolute;
        background-color: grey;
        width: 100%;
        color: white;
        text-align: center;
        transition: transform 0.3s;
    } 

    .galerie .foto:hover .popisek {
        transform: translateY(-100%);
    }

    .galerie .foto:hover img {
        transform: scale(1.2);
    }

    .galerie .foto img {
        transition: transform 0.3s;
    }
}

@media (min-width: 1000px) {
    .hlavicka {
        padding: 50px 300px 80px 300px;
    }

    .hlavicka .titulek {
        font-size: 88px;
    }
    
    .obsah {
        width: 960px;
        box-shadow: 1px 1px 20px 2px darkgrey;
        display: block;
        margin: -50px auto 0;
        z-index: 1;
        object-fit: contain;
        background-color: white;
        
    }
    
    .obsah .uvod {
        padding: 40px;
    }

    .pc {
        display: flex;
    }

    .menu {
        flex: 0 0 25%;
        display: inline;
        padding: 40px;
    }

    .menu li {
        border: 0;
        border-bottom: 0.5px solid lightgrey;
        text-align: left;
        font-size: 14px;
        padding: 5px;
        width: 100%;
    }

    .proc h2, .proc p {
        margin-right: 25%;
       
    }

    .mustsee h2, .mustsee p {
        margin-left: 25%;
    }

    .mustsee p, .proc p {
        padding: 30px 30px 0 30px;
    }
          
   .galerie .foto {
        flex: 1 1 33%;
   }

   .paticka {
        width: 960px;
        margin: 0 auto;
        background: none;
        padding: 20px 0;
   }
}